@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


/* DOCUMENT META or something */

:root {
    font-family: Montserrat, system-ui, sans-serif;
    font-weight: 400;
}

html {
    height: 100%;
}

body {
    background-color: #0d0c0c;
    color: #faf6e4;
    min-height: 100%;
}

body::after {
    content: "";
    background-image: url(C:\Users\kagra\Documents\Vue\my-website\src\assets\img\chungus.jpg);
    background-size: cover;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
}


/* AESTHETICS */
/* #18181a */


/* ANIMATIONS */


.grow {
    transition: linear;
    animation-name: grow;
    animation-duration: 20s;
    animation-delay: 1600ms;
    animation-iteration-count: infinite;
}

.fadein {
    transition: transform 0.6s cubic-bezier(0.16, 1, 0.3, 1);
    animation-name: fadein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 100ms;
}

.floating {  
    animation-name: floating;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}

@keyframes fadein {
  from {
    transform: translateY(0%);
    opacity: 0;
  }

  to {
    transform: translateY(20%);
    opacity: 100;
  }
}

@keyframes grow {
    from {
        transform: scale(1)
    }

    50% {
        transform: scale(1.3)
    }

    to {
        transform: scale(1)
    }
}




/* TAILWIND THEME DATA */

@theme {
    --font-montserrat: "Montserrat", sans-serif;
    --font-display: "Montserrat";
}






/* WIP */

.noise {
    position: relative;
} 

.noise::before {
    content: '';
    position: absolute;
    inset: 0;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.75' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='0.8'/%3E%3C/svg%3E");
    pointer-events: none;
}